{% extends "base.html" %}

{% block content %}
           <p class="tag-for-search">Registration</p>

            <form style="position: block; margin-left: 0%; width: 70%">
              <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputNickname2">Nickname</label>
                <input type="text" class="form-control" id="exampleInputNickname2" placeholder="Nickname">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Repeat password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repeat password">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">Select your avatar</label>
                <input type="file" id="exampleInputFile">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-default">Register</button>
            </form>
{% endblock %}


{% block right-column %}
                  <div class="block">
                        <p class="headlines-right-col">Popular Tags</p>
                        <p>
                          <a class="Special-format1">Python</a>
                          <a class="Special-format2">Perl</a>
                        </p>
                        <p>
                          <a class="Special-format1">Firefox</a>
                          <a class="Special-format3" href="./fortag.html">MVC</a>
                          <a class="Special-format2">Chrome</a>
                        </p>
                        <p>
                          <a class="Special-format2">Postgre SQL</a>
                          <a class="Special-format3">StackOverflow</a>
                        </p>
                  </div> 

                  <div class="best-members">
                        <div class="block">
                            <p class="headlines-right-col">Best members</p>
                              <ul style="list-style-type: none; text-align: left; margin: 10px -35px">
                                <li><a href="#mrfreeman">Mr.Freeman</a></li>
                                <li><a href="#gorub">Gorub</a></li>
                                <li><a href="#maks">Maks</a></li>
                                <li><a href="#fikus">Fikus</a></li>
                                <li><a href="#alex">Alex</a></li>
                                <li><a href="#rr">RR</a></li>
                                <li><a href="#apolon">Apolon</a></li>
                              </ul>
                        </div> 
                  </div>
{% endblock %}